<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="src\samplesite\bin\debug\SampleSite.exe" arguments="%HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="\\?c:\dev\javasites\log.txt">
    </httpPlatform>
  </system.webServer>
</configuration>